*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(200, 100%, 95%);
  color: hsl(200, 100%, 10%);
  font-family: sans-serif;
  padding: 4rem;
}

.current {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-container {
  background-color: hsl(200, 100%, 10%);
  width: max-content;
  padding: 2rem;
  border: 2px solid hsl(200, 100%, 5%);
  border-radius: 1rem;
  box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.1);
}

.current-top {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.weather-icon {
  width: 50px;
  height: 50px;
}

.large {
  width: 100px;
  height: 100px;
}

.current-temp {
  font-size: 3.5rem;
}

.current-bottom {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  background-color: hsl(200, 100%, 20%);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.label {
  text-transform: uppercase;
}
